---
layout: home
search_exclude: true
---
<style>
    .contact-links {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .docimage {
        margin: auto;
        display: table;
        width: 70%;
    }

    .page-content {
        padding: 0px;
    }

    .page-link.fa:hover {
        color: white;
        text-decoration: none;
    }

    .page-link.fa-twitter:hover {
        background: #55ACEE;
        color: white !important;
    }

    .page-link.fa-envelope:hover {
        background: black;
        color: white !important;
    }

    .page-link.fa-youtube {
        color: gray;
    }

    .page-link.fa-youtube:hover {
        background: #7b1010;
        color: white !important;
    }

    .rounded-pill {
        border-radius: 50rem !important;
    }

    a[href="/algorithm-problem"] {
        background: #424271;
        color: white;
        padding: 5px;
    }

    .ankush-header {
        display: flex;
        align-items: flex-end;
        min-height: 300px;
    }

    .ankush-cover {
        z-index: -2;
        position: absolute;
        width: 100%;
        left: 0px;
        height: 100%;
        object-fit: cover;
    }

    .ankush-header-content {
        margin: 30px 0px;
        backdrop-filter: blur(200px);
        padding: 20px 20px;
        -webkit-backdrop-filter: blur(200px);
        background: #ffffffcf;
        height: fit-content;
        font-size: 1.1rem;
        border-radius: 20px;
    }
    .index-signup-container{
        display: flex;
        justify-content: center;
        align-content: center;
    }
</style>

<div class="ankush-header">
    <img src="/images/header.png" class="ankush-cover">

    <div class="ankush-header-content">
        I have five years of experience as a <b>full-stack developer</b>, with a focus on developing microservices,
        implementing <b>test-first development</b> practices, <b>writing clean code</b>, and delivering customer and business-oriented
        solutions.<br><br>
        <i class="fa-code"></i>
        Through this blog, I share my insights and ideas on software development <a href="/philosophy">philosophy</a>
        and best practices to help fellow developers create high-quality software products.
        <br> <br>
        My <b>goal</b> is to <b>help you write 🧹 clean & 🐞 bug-free code every time</b> and <b>support you in swiftly delivering your 👨🏻‍💻 code to production</b>!
        <br><br>
        <p style="margin: 0px !important;">
        Hire me for consulting and developer roles by contacting me on <a href="https://www.linkedin.com/in/ankushchoubey/"><img src="/images/LI-Logo.png" style="height: 2ch;" alt="LinkedIn logo"></a>.
    </p>
        <div class="index-signup-container">
            <div class="index-signup-holder">
                {%- include email_signup_homepage.html -%}
            </div>
        </div>
        <h2>Series</h2>
        <ul class="post-list" style="gap: 3% !important">
            {% include series-item.html disabled="false" title="Test First Test Everthing (Launching Sep 15)" description=" 🚀 Elevate Your Development Skills 5x with Test-Driven Development (TDD) step by step." image="https://marsner.com/wp-content/uploads/test-driven-development-TDD.png" url="/tdd" %}
            {% include series-item.html disabled="true" head-message="Planned for December 2023!" title="Writing Clean Code" description="Writing cleanest and the most maintainable code base you or anyone else has ever seen!" image="https://www.freecodecamp.org/news/content/images/size/w2000/2020/10/clean-code-image.png" url="/tdd" %}
            {% include series-item.html disabled="true" head-message="Planned for May 2024!" title="Getting into Continuous Delivery" description="Deploying your code from Commit to PROD in 1 hour." image="https://razorops.com/images/blog/Arrow%20Timeline%20Process%20Diagram%20Infographic%20Brainstorm.png" url="/tdd" %}
        </ul>
    </div>
</div>
<!-- My current focus is: **[Algorithms for Coding Problems](/algorithm-problem)** -->

<div style='display: none; align-items: center; gap: 10px; flex-wrap: wrap;'>
    {% include btn.html href='/assets/Ankush - Full Stack Developer.pdf' icon='fa fa-envelope' text='Download Resume'
    download='t' download_name='Ankush - Full Stack Developer.pdf' %}
    {% include btn.html href='https://www.linkedin.com/in/ankushchoubey/' icon='fa fa-linkedin' text='LinkedIn'
    download='n' %}
    {% include btn.html href='https://www.youtube.com/channel/UCsLuPmg-NgqXMM6qkdwFbyQ' icon='fa fa-youtube'
    text='YouTube' download='n' %}
</div>

## Posts (sorted by last updated)