<div class="Box rounded-1 col-12">
    {%- if post.image -%}
    <div class="col-4 d-table-cell p-3 v-align-middle">
        <a href="{{ post.url | relative_url }}">
        <img class="image-preview " src="{{ post.image | relative_url }}"  href="{{ post.url | relative_url }}" loading=‘lazy’ />
        </a>
      </div>
    {%- endif -%}
    <div class="col-8 d-table-cell p-3">
        <h3>
          {% if post.categories contains "tweetable" %}
            <p class="post-link" style="font-style: italic;">
              <span class="fa fa-pencil"></span>
              {{ post.title }}
            </p>
          {% else %}
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          {% endif %}

        </h3>
        
        <p class="post-meta-description">{{ post.description }}</p>
        {% capture createddate %}{{ post.date | date: date_format }}{% endcapture %}
        {% capture updateddate %}{{ post.last_modified_at | date: date_format }}{% endcapture %}
        {% if createddate == updateddate %}
          <div class="post-meta-created-date">Written on  : {{ post.date | date: date_format }} </div>
        {% else %}
          <div class="post-meta-last-modified-date">Updated : {{ post.last_modified_at | date: date_format }} {%- if post.last-modified-purpose -%}: {{ post.last-modified-purpose }}{%- endif -%}</div>
          <div class="post-meta-created-date-hover">Written: {{ post.date | date: date_format }} </div>
        {% endif %} 

          <div class='post-meta-holder' style="display: none;">
            {% capture createddate %}{{ post.date | date: date_format }}{% endcapture %}
            {% capture updateddate %}{{ post.last_modified_at | date: date_format }}{% endcapture %}
            {% if createddate == updateddate %}
              <div class="post-meta-created-date">Written on  : {{ post.date | date: date_format }} </div>
            {% else %}
              <div class="post-meta-last-modified-date">Updated: {{ post.last_modified_at | date: '%d-%b-%y' }} </div>
              <div class="post-meta-created-date-hover">Written: {{ post.date | date: date_format }} </div>
            {% endif %} 
          </div>
          {%- include tags-list.html categories=post.categories -%}
      </div>
      <div>
        {% include simpler_toc.html html=post.content base_url=post.url	 %}
      </div>


  </div>