<div class="core-values-container">
    <div class="core-values-row">
        <div class="core-values-box col-md-6" >
            <img src="/images/truth-fidility.jpg">
            <h3>
                <a class="post-link" href="/philosophy/core-values/truth">Clarity 🔭</a>
                <a class="post-link" href="/philosophy/core-values/truth">स्पष्टता</a>
            </h3>
            <p class="post-meta-description">Why we should use the vocabulary 'stating'. And how can we state the truth.</p>
        </div>
        <div class="core-values-box col-md-6">
            <img src="/images/core-values/cave-you-seek.jpg">
            <h3>
                <a class="post-link" href="/philosophy/core-values/responsibility">Responsibility</a>
                <a class="post-link" href="/philosophy/core-values/responsibility">कर्मयोग</a>
            </h3>
            <p class="post-meta-description">Why we should use the vocabulary 'stating'. And how can we state the truth.</p>
        </div>
    </div>
    <div class="core-values-row">
        <div class="core-values-box col-md-6" >
            <h3>
                <a class="post-link" href="/philosophy/core-values/inputs">Inputs</a>
                <a class="post-link" href="/philosophy/core-values/inputs">स्पष्टता</a>
            </h3>
            <p class="post-meta-description">Why we should use the vocabulary 'stating'. And how can we state the truth.</p>
        </div>
        <div class="core-values-box col-md-6">
            <h3>
                <a class="post-link" href="/philosophy/core-values/systems">Systems</a>
                <a class="post-link" href="/philosophy/core-values/systems">स्पष्टता</a>
            </h3>
            <p class="post-meta-description">Why we should use the vocabulary 'stating'. And how can we state the truth.</p>
        </div>
        <div class="core-values-box col-md-6">
            <h3>
                <a class="post-link" href="/philosophy/core-values/time">Time</a>
                <a class="post-link" href="/philosophy/core-values/time">समय</a>
            </h3>
            <p class="post-meta-description">Why we should use the vocabulary 'stating'. And how can we state the truth.</p>
        </div>
    </div>
    <div class="core-values-row">
        <div class="core-values-box col-md-6" >
            <img src="/images/team-work/team-work.webp">
            <h3>
                <a class="post-link" href="/philosophy/core-values/team-work">Team Work</a>
                <a class="post-link" href="/philosophy/core-values/team-work">स्पष्टता</a>
            </h3>
            <p class="post-meta-description">Why we should use the vocabulary 'stating'. And how can we state the truth.</p>
        </div>
        <div class="core-values-box col-md-6">
            <h3>
                <a class="post-link" href="/philosophy/core-values/adventure">Adventure</a>
                <a class="post-link" href="/philosophy/core-values/adventure">स्पष्टता</a>
            </h3>
            <p class="post-meta-description">Why we should use the vocabulary 'stating'. And how can we state the truth.</p>
        </div>
    </div>
</div>
<style>
    .core-values-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;

        img {
            max-height: 300px !important;
        }
    }
    .core-values-row {
        display: flex;
        gap: 10px;
    }
    .core-values-box.col-md-6 {
        padding: 22px;
        /* background-color: #1b2335; */
    }
</style>