    <style>
        .post-tool-bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px 10px 0px;
            /* border: 1px solid #e8e8e8; */
            border-width: 0px 0px 1px 0px;
        }
        .left-section , .right-section{
            display: flex;
            gap: 8px;
        }

    </style>
    
    <div class="post-tool-bar">
        {%- include tags-list.html categories=page.categories -%}
      
     <div class="right-section">
       {%- include translate-btn.html -%}
       {%- include speech-btn.html -%}
      </div>
      
          
    </div>
    
