<a id='random-btn' >
    <img src="/images/icons/dices.svg" alt="random" style="width:35px; cursor: pointer;" class="image-preview">
    Random Article
</a>

<script>
    openRandomLink = () => {
        var links = [
        {% for post in site.posts %}
            {% if post.hide != true %}
                '{{ site.baseurl }}{{ post.url }}',
            {% endif %}
        {% endfor %}
        ];

        var randomNo = Math.random() * (links.length-1);
        randomNo = Math.floor(randomNo);
        window.open(links[randomNo], '_blank')
    }
    document.getElementById("random-btn").addEventListener("click", openRandomLink);
</script>

