<a id='speech-btn' class="page-link fa fa-language">Listen</a>


<script>
    if ('speechSynthesis' in window) {
        document.getElementById("speech-btn").addEventListener("click", speakPost);
    }else{
        document.getElementById('speech-btn').style.display = 'none';
    }

    speakPost = ()=> {
        var msg = new SpeechSynthesisUtterance();
        const title = document.querySelector("h1.post-title.p-name").innerText;
        const post = document.querySelector("div.post-content.e-content").innerText
        msg.text = title + '.'+ post;
        window.speechSynthesis.speak(msg);
    }

</script>

<!-- https://www.alebalweb-blog.com/85-text-to-speech-player-with-buttons-play-pause-stop-and-voice-choice.html -->