<style>
    .tag-list {
        display: flex;
        gap: 8px;
    }

    .tag {
        background-color: rgb(181 181 181);
        padding: 5px;
        border-radius: 20px;
        text-decoration: none;
        color: black !important;
    }

    .tag:hover {
        filter: alpha
    }

    .agile {
        background-color: #ff577f
    }

    .baton {
        background-color: #BE8294
    }

    .books {
        background-color: #ff884b
    }
    
    .business {
        background-color: #ff884b
    }

    .clean-code {
        background-color: #ff884b
    }

    .cloud-computing {
        background-color: #ff884b
    }

    .collection-of-thoughts {
        background-color: #ff884b
    }

    .communication {
        background-color: #ff884b
    }

    .decision-making {
        background-color: #ff884b
    }

    .deep-learning {
        background-color: #ff884b
    }

    .devops {
        background-color: #ff884b
    }

    .draft {
        background-color: #ff884b
    }

    .experience {
        background-color: #ff884b
    }

    .favorite {
        background-color: #ff884b
    }

    .for-future-me {
        background-color: #ff884b
    }

    .information-systems {
        background-color: #ff884b
    }

    .kaggle {
        background-color: #FBAA7D
    }

    .leadership {
        background-color: #FFDA93
    }

    .learning {
        background-color: #DEBF89
    }

    .marketing {
        background-color: #7E988D
    }

    .non-profit {
        background-color: #909A74
    }

    .notebook {
        background-color: #6CA1B6
    }

    .personal {
        background-color: #425E80
    }

    .philosophical {
        background-color: #E39EB6;
    }

    .programming {
        background-color: #ff884b
    }

    .python {
        background-color: #86B0BE;
    }

    .qa {
        background-color: #E8DDCD
    }

    .software-development {
        background-color: #87AEA6
    }

    .talent {
        background-color: #DDC297
    }

    .tools {
        background-color: #C1867F
    }

    .web-development {
        background-color: #887790
    }
</style>

{% if include.categories.size > 0 and site.show_tags %}
<div class="tag-list">
    {% for category in include.categories %}
    <a class="tag fa fa-hashtag {{category}}" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% endfor %}
</div>
{% endif %}