<style>
    .tag-list{
        display: flex;
        gap: 8px;
    }
    .tag{
        background-color:rgb(124, 124, 124);
        padding: 5px;
        border-radius: 20px;
        text-decoration: none;
        color: black !important;
    }
    .tag:hover{
        filter: alpha 
    }
    .web-development{
        background-color: #ff577f
    }
    .devops{
        background-color: #ff884b
    }

</style>

{% if include.categories.size > 0 and site.show_tags %}
    <div class="tag-list">
        {% for category in  include.categories  %}
        <a class="tag fa fa-hashtag {{category}}" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% endfor %}
    </div>
  {% endif %}