<!-- from https://github.com/utterance/utterances -->
<style>
        .opacity-desired, .a2a_kit a{
                opacity: 70%;
                filter: grayscale(1) !important;
        }
        .opacity-desired:hover, .a2a_kit a:hover{
                opacity: 100% !important;
                filter: grayscale(0) !important;
        }

        .timeline-header{
                display: none;
        }
</style>

<div style="text-align: center; font-weight: bold; font-style: italic;" class="opacity-desired">
        <h4>Liked the essay? Would someone else like it too?<br>Your comments and shares are valuable!</h4>
 </div>
 <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="display: flex;
justify-content: center;
align-items: center;">
        <a class="a2a_button_linkedin opacity-desired"></a>
        <a class="a2a_button_twitter opacity-desired"></a>
        <a class="a2a_button_whatsapp opacity-desired"></a>
        <!-- <a class="a2a_button_facebook opacity-desired"></a> -->
        <!-- <a class="a2a_button_email opacity-desired"></a> -->
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->

 
<script src="https://utteranc.es/client.js"
        repo="{{ site.github_username }}/{{ site.github_repo | default: site.baseurl | remove: "/" }}"
        issue-term="title"
        label="blogpost-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<!-- <div style="text-align: center;" class="opacity-desired">
        <div>If you have a thought or suggestion, the best place to share is via the comments section above.</div>
        <p>It'll be an add-on to the article.<br>Other's will find it helpful too.<br>Nothing is more fun than a discussion.</p>
</div> -->

<!-- <div style="text-align: center; font-weight: bold;" class="opacity-desired">
       Liked the essay?
</div>
 -->
<!-- 
 <script>
        window.onload = function() {
        let myiFrame = document.getElementById("myiFrame");
        let doc = myiFrame.contentDocument;
        doc.body.innerHTML = doc.body.innerHTML + '<style>.timeline-header{display: none;}</style>';
        }
 </script> -->
