<!-- from https://github.com/utterance/utterances -->



<script src="https://utteranc.es/client.js"
        repo="{{ site.github_username }}/{{ site.github_repo | default: site.baseurl | remove: "/" }}"
        issue-term="title"
        label="blogpost-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<div>If you have a thought or suggestion, the best place to share is via the comments section above.</div>
<ul>
<li>It'll be an add-on to the article.</li>
<li>Other's will find it helpful too.</li>
<li>Nothing is more fun than a discussion.</li>
</ul>