<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<!-- <script>
  for (const iterator of document.getElementsByClassName('page-link')) {
      if (iterator.innerHTML === 'Search'){ iterator.classList.add('search-button'); iterator.title = 'Search';}
      if (iterator.innerHTML === 'Tags'){ iterator.classList.add('tags-button'); iterator.title = 'Tags';}
      if (iterator.innerHTML === 'Side Projects'){ iterator.classList.add('side-project-button'); iterator.title = 'Side Projects';}
  }
</script> --><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="/assets/accordian.js"></script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">When doing reactive programming, 'aim' to have streaming end-to-end</h1>

    <p class="post-meta post-meta-title"><time class="dt-published post-meta-created-date" datetime="2022-07-24T00:00:00-05:00" itemprop="datePublished">
        Written: Jul 24, 2022
      </time>~<time class="dt-modified post-meta-last-modified-date" datetime="2022-07-24T15:52:08-05:00" itemprop="dateModified">
          Updated: Jul 24, 2022
        </time>
       • <span class="read-time" title="Estimated read time">
    
    
      2 min read
    
</span></p>    <style>
        .post-tool-bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px 10px 0px;
            /* border: 1px solid #e8e8e8; */
            border-width: 0px 0px 1px 0px;
        }
        .left-section , .right-section{
            display: flex;
            gap: 8px;
        }

    </style>
    
    <div class="post-tool-bar">
<!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
        AOS.init();
</script> -->

<div class="tag-list">
    
    <a class="tag fa fa-hashtag clean-code" href="/categories/#clean-code">clean-code</a>
    
    <a class="tag fa fa-hashtag reactive" href="/categories/#reactive">reactive</a>
    
</div>
<div class="right-section">
<a id="translate-btn" href="https://www.translatetheweb.com/?ref=TAns&from=&to=hi&a=https%3A%2F%2Fwww.ankushchoubey.com%2F">
    <img src="/images/icons/translate.svg" alt="Translate" style="width:35px">
</a>


<script>
    a = document.getElementById('translate-btn');
    a.setAttribute("href", "https://www.translatetheweb.com/?ref=TAns&from=&to=hi&a=" + window.location.href);
</script><a id="speech-btn">
    <img src="/images/icons/ear.svg" alt="listen" style="width:35px; cursor: pointer;">
</a>

<script>
    speakPost = () => {
        var msg = new SpeechSynthesisUtterance();
        const title = document.querySelector("h1.post-title.p-name").innerText;
        const post = document.querySelector("div.post-content.e-content").innerText
        msg.text = title + '.' + post;
        window.speechSynthesis.speak(msg);
    }
    if ('speechSynthesis' in window) {
        document.getElementById("speech-btn").addEventListener("click", speakPost);
    } else {
        document.getElementById('speech-btn').style.display = 'none';
    }
</script>

<!-- https://www.alebalweb-blog.com/85-text-to-speech-player-with-buttons-play-pause-stop-and-voice-choice.html -->
</div>
      
          
    </div>
    
</header>

  <div class="post-content e-content" itemprop="articleBody">
    <ul class="section-nav">
<li class="toc-entry toc-h1"><a href="#example-of-streaming-and-non-streaming-reactive-implementation">Example of Streaming and Non-Streaming Reactive Implementation</a></li>
<li class="toc-entry toc-h1"><a href="#when-is-streaming-not-efficient">When is streaming not-efficient</a></li>
</ul>
<p>A streaming microservice works on streams of data rather than waiting for entire data to load before performing operations.</p>

<p>This means by definition streaming is much high performance and therefore a good aim to have.</p>

<h1 id="example-of-streaming-and-non-streaming-reactive-implementation">
<a class="anchor" href="#example-of-streaming-and-non-streaming-reactive-implementation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Example of Streaming and Non-Streaming Reactive Implementation</h1>

<p>Suppose you have an application that shows a list of movies to users. The application comprises a frontend user view and a backend that talks to a database.</p>

<p>You have chosen Spring Webflux for the backend and Angular for the frontend since both provide reactive programming support. Webflux provides it with Project Reactor. Angular provides it with RxJs.</p>

<p>A non-reactive non-streaming way would have been something like this</p>

<ol>
  <li>Create an API endpoint that fetches all movies from the database to the backend service.
2 Once all the data is fetched, then create a payload to send to the browser. (Backend has to wait for fetching to be complete)</li>
  <li>Once the complete payload is received by the browser, it will start rendering the details. (Browser has to wait for fetching to be complete)</li>
</ol>

<p><strong>Spring Webflux backend</strong>:</p>

<div class="language-java highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">return</span> <span class="n">moviesRepository</span><span class="o">.</span><span class="na">findAll</span><span class="o">()</span>
    <span class="o">.</span><span class="na">collectList</span><span class="o">()</span> <span class="c1">// this makes it non-streaming</span>
    <span class="o">.</span><span class="na">flatMap</span><span class="o">(</span><span class="n">movies</span><span class="o">-&gt;</span> <span class="nc">ServerResponse</span><span class="o">.</span><span class="na">ok</span><span class="o">().</span><span class="na">bodyValue</span><span class="o">(</span><span class="n">movies</span><span class="o">));</span>
</code></pre></div></div>
<p><strong>Angular Frontend</strong>:</p>

<p>Typescript:</p>
<div class="language-typescript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">this</span><span class="p">.</span><span class="nx">httpClient</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="dl">"</span><span class="s2">/movies</span><span class="dl">"</span><span class="p">)</span>
    <span class="p">.</span><span class="nx">subscribe</span><span class="p">(</span> <span class="c1">// this line makes it non-streaming</span>
        <span class="nx">movies</span><span class="o">=&gt;</span> <span class="k">this</span><span class="p">.</span><span class="nx">movies</span> <span class="o">=</span> <span class="nx">movies</span><span class="p">;</span>
    <span class="p">);</span>
</code></pre></div></div>
<p>HTML:</p>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;li</span> <span class="na">*ngFor=</span><span class="s">"let movie of movies"</span><span class="nt">&gt;</span>
    \{\{ movie.name }}
<span class="nt">&lt;/li&gt;</span>
</code></pre></div></div>

<p>A reactive streaming implementation would be like this:</p>

<ol>
  <li>Start fetching movies from the database to the backend.</li>
  <li>As movies are being fetched, start creating the payload and send that payload to the browser without waiting for other movies. (Backend does not wait for fetching to be complete)</li>
  <li>Browser will receive a record and display it. When it receives another record, it will display that as well. (Browser does not have to wait for fetching to be complete).</li>
</ol>

<p>This means that both your backend and your frontend have to be reactive-streaming.</p>

<p><strong>Spring Webflux backend</strong>:</p>

<div class="language-java highlighter-rouge"><div class="highlight"><pre class="highlight"><code>    <span class="k">return</span> <span class="nc">ServerResponse</span><span class="o">.</span><span class="na">ok</span><span class="o">().</span><span class="na">body</span><span class="o">(</span><span class="n">moviesRepository</span><span class="o">.</span><span class="na">findAll</span><span class="o">(),</span> <span class="nc">Movies</span><span class="o">.</span><span class="na">class</span><span class="o">);</span>
</code></pre></div></div>

<p><strong>Angular Frontend</strong>:</p>

<p>Typescript:</p>
<div class="language-typescript highlighter-rouge"><div class="highlight"><pre class="highlight"><code>    <span class="k">this</span><span class="p">.</span><span class="nx">movies</span> <span class="o">=</span> <span class="k">this</span><span class="p">.</span><span class="nx">httpClient</span><span class="p">.</span><span class="kd">get</span><span class="p">(</span><span class="dl">"</span><span class="s2">/movies</span><span class="dl">"</span><span class="p">);</span>
</code></pre></div></div>

<p>HTML:</p>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;li</span> <span class="na">*ngFor=</span><span class="s">"let movie of movies | async; index as i"</span><span class="nt">&gt;</span>
    \{\{ movie.name }}
<span class="nt">&lt;/li&gt;</span>
</code></pre></div></div>

<h1 id="when-is-streaming-not-efficient">
<a class="anchor" href="#when-is-streaming-not-efficient" aria-hidden="true"><span class="octicon octicon-link"></span></a>When is streaming not-efficient</h1>

<p>There are some cases where streaming isn’t effective or can be used like:</p>
<ol>
  <li>Amount of data is too small.</li>
  <li>Certain operations/transformations that require the entire data to be loaded. For example, HAL Format isn’t possible with streaming.</li>
  <li>Sometimes batch operations are more effective than streaming.</li>
</ol>

<p>For example, while fetching movies, you have to also fetch data about movie stars from a separate table. Since many movies might have the same movie star, it may be more effective to fetch them once in bulk rather than in a streaming fashion for each movie.</p>

<p>These nuances depend on what you are trying to build. Therefore it is a good “aim” to have streaming end-to-end for true reactivity. But it isn’t always applicable.</p>

  </div>
  <!-- https://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html -->

<div class="PageNavigation">
    
      <a class="prev" href="/atomic-commits/">« Writing better commits with Atomic Commits</a>
    
    
      <a class="next" href="/maven-dependency-upgrade/">Tips on fixing and upgrading Maven Dependencies »</a>
    
  </div>

<style>
    .PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
</style>
<!-- from https://github.com/utterance/utterances -->
<!-- <script src="https://utteranc.es/client.js"
        repo="ankschoubey/blog"
        issue-term="title"
        label="blogpost-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script> -->

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = 'https://www.ankushchoubey.com/reactive-streaming/';
      this.page.identifier = 'https://www.ankushchoubey.com/reactive-streaming/';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://ankushchoubey.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
<a class="u-url" href="/reactive-streaming/" hidden></a>
</article>
</head></html>
