/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
//@import "minima/dark-mode";

@import "minima/fastpages-dracula-highlight"; 

@import "./accordian.scss"; 

.site-header {
    position: sticky;
    top: 0px;
    background: white;
    z-index: 1 !important;
    border-bottom: none;
    border-top: none;
}
.site-title:before {
    content: "aaa";
    text-decoration: none !important;
    color: transparent !important;
    background: url(/images/profile.png);
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: center;
}
.site-title:after {
    content: "";
    font-size: 1rem;
    font-style: italic;
    padding-left: 1;
    color: black;
}

.search-button{
    background: url(https://image.flaticon.com/icons/svg/882/882988.svg);
    background-color: #ffdead00;
    color: #ffdead00 !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.7);
}


.side-project-button{
    background: url(https://image.flaticon.com/icons/svg/900/900813.svg);
    background-color: #ffdead00;
    color: #ffdead00 !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.7);
}

.tags-button{
    background: url(https://image.flaticon.com/icons/svg/758/758658.svg);
    background-color: #ffdead00;
    color: #ffdead00 !important;
    /* background-image: url(/images/logo.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.7);
}

.search-button:hover, .side-project-button:hover, .tags-button:hover{
    filter: opacity(1);
    color: #ffdead00 !important;
}
.Box {
    box-shadow: none !important;
    border: none !important;
}
img.image-preview{
    // transition-delay: 1s;
    transition: width 0.3s, height 0.3s, transform 0.3s;
}
img.image-preview:hover {
    transform: scale(1.05);
    // transition: width 2s, height 2s;
    // transition-timing-function: ease;
}
.site-footer{
    border: none;
}
.feed-subscribe .svg-icon {
    padding: 0px;
    margin-right: 5px;
}

.social-links::after {
    content: "Made using \a FastPages by FastAI ﹘ flaticons.com ﹘ favicon.io ﹘🔥 Fireship.io \a for the special people who support me";
    clear: both;
    display: table;
    color: #808080cf;
    font-size: xx-small;
    margin: auto;
    white-space: pre;
    text-align: center;
}
.social-links ul.social-media-list {
    display: none;
}
.footer-col-wrapper {
    display: none !important;
}

.home-button-tag{
    opacity: .4;
}
.home-button-tag:hover{
    opacity: 1;
}

.post-meta-holder{
    position: absolute;
    right: 8px;
    bottom: -16px;
    transition: all 1s ease-out;;
  }
  .post-meta-created-date{
    font-size: .875rem;
    color: #fff;
    clear: both;
    background: rgba(23,39,53,.7);
    padding: 2px 4px;
    width: fit-content;
    margin: 10px 0px;
  }
  .post-meta-created-date-hover{
    font-size: .875rem;
    color: #fff;
    clear: both;
    background: rgba(23,39,53,.7);
    padding: 2px 4px;
    display: none;
  }
  .post-meta-last-modified-date{
    font-size: .875rem;
    color: #fff;
    clear: both;
    background: #28a745b3;
    padding: 2px 4px;
    width: fit-content;
    margin: 10px 0px;
  }

  .post-meta-holder:hover .post-meta-last-modified-date{
        display: none;
    } 
  .post-meta-holder:hover .post-meta-created-date-hover{
        display: block !important;
    }


    .tag-list {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .tag {
        background-color: rgb(181, 181, 181);
        padding: 5px;
        border-radius: 20px;
        text-decoration: none;
        color: black !important;
    }

    .tag:hover {
        filter: alpha
    }

    .agile {
        background-color: #ff577f
    }

    .baton {
        background-color: #BE8294
    }

    .books {
        background-color: #2A93D5
    }

    .business {
        background-color: #ffd400
    }

    .clean-code {
        background-color: #b68a88
    }
    .core-values {
        background-color: #1e7cc9
    }

    .cloud-computing {
        background-color: #726A95
    }

    .collection-of-thoughts {
        background-color: #9f48af
    }

    .communication {
        background-color: #7fd648
    }

    .decision-making {
        background-color: #6c77bb
    }

    .deep-learning {
        background-color: #6CBF84
    }

    .devops {
        background-color: #849974
    }

    .draft {
        background-color: #ff884b
    }

    .experience {
        background-color: #4C586F
    }

    .favorite {
        background-color: pink
    }

    .for-future-me {
        background-color: #F26968
    }

    .information-system {
        background-color: #2A93D5
    }

    .kaggle {
        background-color: #FBAA7D
    }

    .leadership {
        background-color: #FFDA93
    }

    .learning {
        background-color: #DEBF89
    }

    .marketing {
        background-color: #7E988D
    }

    .non-profit {
        background-color: #909A74
    }


    .personal {
        background-color: #425E80
    }

    .philosophical {
        background-color: #E39EB6;
    }

    .programming {
        background-color: #e25146
    }

    .testing {
        background-color: #E8DDCD
    }

    .software-development {
        background-color: #87AEA6
    }

    .tools {
        background-color: #C1867F
    }

    .web-development {
        background-color: #887790
    }
    .personal{
        display: none;
    }
    .family{
        display: none;
    }
    .draft{
        display: none;
    }
    .blockchain{
        background-color: #c0ad03
    }
    .spring-boot{
        background-color: #66aa3b;
    }
    .database{
        background-color: #4282aa;
    }
    .bdd{
        background-color: #66aa3b;
    }

.post-list > li  {
    content-visibility: auto;
    contain-intrinsic-size: 0 200px;
    border: 1px solid #00000029;
    border-radius: 10px;
}
a.page-link[href="/resume/"] {
    background: #be232f;
    padding: 10px;
    color: white;
}

.Toast{
    width: 100% !important;
    max-width: none !important;
}

.post p img{
    border: 5px solid #555;
    /*
    * add css border
    */
}
* {
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

p {
    font-size: 1.125rem;
}

// Front Page Columns

@media screen and (min-width: 800px) {
    .post-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4%;
        p {
            font-size: 1.125rem !important;
        }
    }

    .post-list > li {
        
        border-radius: 0px !important;
        width: 48%;
        .Box{
            a{
                text-decoration: none !important;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            word-break: break-word;
            justify-content: center;
            height: 100%;
            box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05) !important;
            border-radius: 10px !important;
            div {
                width: 100%;
                display: flex !important;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            img{
                max-height: 300px;
            }
        }
        .post-meta{
            // position: absolute;
            // bottom: -7px;
            // right: 0px;
            // background: grey;
            // z-index: 10000;
            // color: white;
            // padding: 2px;
            // font-size: 1rem;
            float: left;
            width: 100%;
            font-size: 1rem !important;
        }
    }

  }

.page-link{
    padding: 5px !important;
    border-radius: 5px;
    text-decoration: none !important;
}
.page-link:hover{
    background: #3a4d78;
    color: white;
}
.post-link{
    font-weight: 500;
    /* color: #adc9e1 !important; */
    text-decoration: none !important;
    font-size: 1.3rem !important;
}
img{
    background: white;
}
a.site-title{
    text-decoration: none !important;
    padding: 0px 5px;
    margin: 5px 0px;
    border-radius: 41px;
    line-height: 43px;
}
a.site-title:hover {
    background: #3a4d78;
    color: white;
}

h1 {
    font-weight: 800 !important;
}
h2 {
    font-weight: 700 !important;
}
h3 {
    font-weight: 600 !important;
}
h4 {
    font-weight: 500 !important;
}