/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.site-header {
    border-bottom: 0px;
}
.site-title {
    color: #42424200 !important;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.search-button{
    background: url(https://image.flaticon.com/icons/svg/882/882988.svg);
    background-color: white;
    color: #42424200 !important;
    /* background-image: url(/images/logo.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tags-button{
    background: url(https://image.flaticon.com/icons/svg/758/758658.svg);
    background-color: white;
    color: #42424200 !important;
    /* background-image: url(/images/logo.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.search-button:hover{
    transform: scale(1.5);
}
.Box {
    box-shadow: none !important;
    border: none !important;
}
img.image-preview{
    // transition-delay: 1s;
    transition: width 0.3s, height 0.3s, transform 0.3s;
}
img.image-preview:hover {
    transform: scale(1.05);
    // transition: width 2s, height 2s;
    // transition-timing-function: ease;
}
.site-footer{
    border: none;
}
.feed-subscribe .svg-icon {
    padding: 0px;
    margin-right: 5px;
}

.social-links::after {
    content: "Made using \a FastPages by FastAI ﹘ flaticons.com ﹘ favicon.io ﹘🔥 Fireship.io \a and the special people who support me";
    clear: both;
    display: table;
    color: #808080cf;
    font-size: xx-small;
    margin: auto;
    white-space: pre;
    text-align: center;
}