/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.site-header {
    border-bottom: 0px;
}
.site-title {
    color: #42424200 !important;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}