---
layout: page
title: 
permalink: /resources/
---

<h1> Resources </h1>
<br>



<ul>
    {% for category in site.data.resources %}
      <li><a href="#{{ category[0] }}">{{ category[0] }}</a></li>
    {% endfor %}
    </ul>
  
    {% for category in site.data.resources %}
        <h3 id ="{{ category[0] }}"><i class="fas fa-tags category-tags-icon"></i></i> {{ category[0] }}</h3>
        <a name="{{ category[0] | slugize }}"></a>
        {% for post in category %}
            {% if post == category[0] %}
                {% continue %}
            {% endif %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
          <p class="post-meta post-meta-title"><a class="page-meta" href="{{ post.url }}">{{post}}</a>  • {{ post.date }}</p>
        </article>
        {% endfor %}
    {% endfor %}